$broccoli-90: #001e1a;
$broccoli-80: #002e28;
$broccoli-60: #003d35;
$broccoli-50: #004d43;
$broccoli-40: #407972;
$broccoli-20: #99b7b3;
$broccoli-10: #e6edec;

$lime-90: #00441f;
$lime-80: #00662e;
$lime-60: #00883e;
$lime-50: #00ab4e;
$lime-40: #40bd63;
$lime-20: #99dcab;
$lime-10: #e6f6ea;

$pear-90: #2d4c1b;
$pear-80: #447228;
$pear-60: #5b9836;
$pear-50: #72bf44;
$pear-40: #95cf72;
$pear-20: #c6e5b4;
$pear-10: #f1f8ec;

$kiwi-90: #4c5613;
$kiwi-80: #72811c;
$kiwi-60: #98ac26;
$kiwi-50: #bfd730;
$kiwi-40: #cfe163;
$kiwi-20: #e5efac;
$kiwi-10: #f8fbea;

$red-90: #450c0d;
$red-80: #681214;
$red-60: #8b181b;
$red-50: #ae1e22;
$red-40: #d44c50;
$red-20: #e89fa1;
$red-10: #f9e7e8;

$orange-90: #59320f;
$orange-80: #864b16;
$orange-60: #b3641e;
$orange-50: #e07e26;
$orange-40: #e79e5c;
$orange-20: #f2cba8;
$orange-10: #fbf2e9;

$yellow-90: #664e1f;
$yellow-80: #99762f;
$yellow-60: #cc9d3f;
$yellow-50: #ffc54f;
$yellow-40: #ffd37b;
$yellow-20: #fff3a5;
$yellow-10: #fff9ed;

$gold-90: #56482b;
$gold-80: #816c41;
$gold-60: #ac9057;
$gold-50: #d8b56d;
$gold-40: #e1c791;
$gold-20: #efe1c4;
$gold-10: #fbf7f0;

$turquoise-90: #004436;
$turquoise-80: #006752;
$turquoise-60: #00896d;
$turquoise-50: #00ac89;
$turquoise-40: #40c0a6;
$turquoise-20: #99ddcf;
$turquoise-10: #e6f6f3;

$blue-90: #072c4a;
$blue-80: #0b4270;
$blue-60: #0f5895;
$blue-50: #1868ab;
$blue-40: #5297d1;
$blue-20: #a3c7e6;
$blue-10: #e8f1f9;

$purple-90: #371036;
$purple-80: #521852;
$purple-60: #6e206d;
$purple-50: #8a2889;
$purple-40: #a75da6;
$purple-20: #d0a9cf;
$purple-10: #f3e9f3;

$black-80: #252528;
$black-60: #58585b;
$black-50: #939597;
$black-40: #bbbdc0;
$black-20: #eeeeef;
$black-10: #f8f8f8;

$white: #ffffff;

$g-kit-colors: (
        "broccoli-90": $broccoli-90,
        "broccoli-80": $broccoli-80,
        "broccoli-60": $broccoli-60,
        "broccoli-50": $broccoli-50,
        "broccoli-40": $broccoli-40,
        "broccoli-20": $broccoli-20,
        "broccoli-10": $broccoli-10,
        "lime-90": $lime-90,
        "lime-80": $lime-80,
        "lime-60": $lime-60,
        "lime-50": $lime-50,
        "lime-40": $lime-40,
        "lime-20": $lime-20,
        "lime-10": $lime-10,
        "pear-90": $pear-90,
        "pear-80": $pear-80,
        "pear-60": $pear-60,
        "pear-50": $pear-50,
        "pear-40": $pear-40,
        "pear-20": $pear-20,
        "pear-10": $pear-10,
        "kiwi-90": $kiwi-90,
        "kiwi-80": $kiwi-80,
        "kiwi-60": $kiwi-60,
        "kiwi-50": $kiwi-50,
        "kiwi-40": $kiwi-40,
        "kiwi-20": $kiwi-20,
        "kiwi-10": $kiwi-10,
        "red-90": $red-90,
        "red-80": $red-80,
        "red-60": $red-60,
        "red-50": $red-50,
        "red-40": $red-40,
        "red-20": $red-20,
        "red-10": $red-10,
        "orange-90": $orange-90,
        "orange-80": $orange-80,
        "orange-60": $orange-60,
        "orange-50": $orange-50,
        "orange-40": $orange-40,
        "orange-20": $orange-20,
        "orange-10": $orange-10,
        "yellow-90": $yellow-90,
        "yellow-80": $yellow-80,
        "yellow-60": $yellow-60,
        "yellow-50": $yellow-50,
        "yellow-40": $yellow-40,
        "yellow-20": $yellow-20,
        "yellow-10": $yellow-10,
        "gold-90": $gold-90,
        "gold-80": $gold-80,
        "gold-60": $gold-60,
        "gold-50": $gold-50,
        "gold-40": $gold-40,
        "gold-20": $gold-20,
        "gold-10": $gold-10,
        "turquoise-90": $turquoise-90,
        "turquoise-80": $turquoise-80,
        "turquoise-60": $turquoise-60,
        "turquoise-50": $turquoise-50,
        "turquoise-40": $turquoise-40,
        "turquoise-20": $turquoise-20,
        "turquoise-10": $turquoise-10,
        "blue-90": $blue-90,
        "blue-80": $blue-80,
        "blue-60": $blue-60,
        "blue-50": $blue-50,
        "blue-40": $blue-40,
        "blue-20": $blue-20,
        "blue-10": $blue-10,
        "purple-90": $purple-90,
        "purple-80": $purple-80,
        "purple-60": $purple-60,
        "purple-50": $purple-50,
        "purple-40": $purple-40,
        "purple-20": $purple-20,
        "purple-10": $purple-10,
        "black-80": $black-80,
        "black-60": $black-60,
        "black-50": $black-50,
        "black-40": $black-40,
        "black-20": $black-20,
        "black-10": $black-10,
        "white": $white
);


$text-primary: $black-80;
$text-secondary: $black-60;
$text-tertiary: $black-50;
$text-green: $lime-50;
$text-red: $red-50;
$text-white: $white;
$text-muted: $black-50;


$primary: $lime-50;
$secondary: $pear-50;
$tertiary: $gold-50;
$success: $lime-50;
$info: $blue-50;
$warning: $orange-50;
$danger: $red-50;
$light: $white;
$dark: $black-80;


:root {
    @each $g-kit-color-name, $g-kit-color-value in $g-kit-colors {
        --g-kit-#{$g-kit-color-name}: #{$g-kit-color-value};
    }
}