@use "sass:map";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800');

$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-family-base: $font-family-sans-serif;

$typography-sizes: (
        "alpha": ("font-size": 72px, "line-height": 108px),
        "beta": ("font-size": 60px, "line-height": 90px),
        "gamma": ("font-size": 48px, "line-height": 72px),
        "delta": ("font-size": 36px, "line-height": 54px),
        "epsilon": ("font-size": 30px, "line-height": 44px),
        "zeta": ("font-size": 24px, "line-height": 36px),
        "kappa": ("font-size": 20px, "line-height": 30px),
        "lambda": ("font-size": 18px, "line-height": 26px),
        "omicron": ("font-size": 16px, "line-height": 24px),
        "sigma": ("font-size": 14px, "line-height": 20px),
        "omega": ("font-size": 12px, "line-height": 18px),
        "atom": ("font-size": 10px, "line-height": 14px)
);

$typography-weights: (
        "normal": 600,
        "bold": 800,
);

$typography-styles: (
        "normal": normal,
        "italic": italic
);

:root {
    @each $typography-size-name, $typography-size-value in $typography-sizes {
        --g-kit-font-size-#{$typography-size-name}:  #{map.get($typography-size-value, "font-size")};
        --g-kit-line-height-#{$typography-size-name}:  #{map.get($typography-size-value, "line-height")};
    }
    @each $typography-weight-name, $typography-weight-value in $typography-weights {
        --g-kit-font-weight-#{$typography-weight-name}:  #{$typography-weight-value};
    }
    @each $typography-style-name, $typography-style-value in $typography-styles {
        --g-kit-font-style-#{$typography-style-name}:  #{$typography-style-value};
    }
}